In [1]:
# 
import pandas as pd
from scipy import stats

In [5]:
# get data
data = pd.read_csv("ICA5_data.csv").set_index("Student")

In [6]:
# get data descriptives
descriptives = data.agg(["count", "mean", "std", "sem"])
descriptives

       Riddiculus    Glacius
count   20.000000  20.000000
mean    78.225000  70.375000
std      7.573282  10.920617
sem      1.693437   2.441924

In [8]:

# perform a paired t-test
stats.ttest_rel(data["Riddiculus"], data["Glacius"])

Ttest_relResult(statistic=2.485152598303171, pvalue=0.022430960054769654)

In [12]:
# get the mean difference and shapiro
stats.shapiro(data["Riddiculus"] - data["Glacius"])

(0.9856547713279724, 0.9852513670921326)

(0.9856547713279724, 0.9852513670921326)