<center><h2> In-class Activity 2</h2></center>

In today's activity, you're going to scrape tweets using the Tweepy library and Twitter API.

Download the TwitterCredentials.py file. One team member shoud complete the key information with their Twitter App information (the team member whose computer you are using as a team could volunteer to do this!)

In [17]:
import tweepy
import TwitterCredentials2 as keys
import numpy as np
import pandas as pd

* Then identify a public Twitter account as a team. 
* You will retrieve this account's tweets. For the purposes of this activity, getting 300 tweets should be enough.

* If you are stuck, you can scrape Northeastern President Aoun's tweets @PresidentAoun.
    * https://twitter.com/PresidentAoun
* Lastly, write the DataFrame to a CSV file

#### What to scrape:
* Scrape your selected user's **300 tweets**, **when they posted the tweet**, and **the list of hashtags included in the tweets**. 
* Then store these in a DataFrame, df, as shown below:
    * Notice the hashtags are strings separated by commas.

In [3]:
df.head()

,Tweet,Time,Hashtags
0,Warming weather in #Antarctica threatens the p...,2020-01-17 03:40:16,"Antarctica, drones"
1,Psychiatric disorders can go undetected. But b...,2020-01-15 03:20:16,healthcare
2,A tool that limits political ads in your #Face...,2020-01-11 02:00:38,Facebook
3,#Improv classes at @Northeastern help our #com...,2020-01-09 01:56:11,"Improv, computerscience, NUexperience, Humanics"
4,Female economists face far more (and often unf...,2020-01-08 01:54:10,economics

In [4]:
df.tail()

,Tweet,Time,Hashtags
295,#WomensMarch posters preserved by #Northeaster...,2018-04-24 02:14:21,"WomensMarch, Northeastern"
296,RT @jtr5395: A few of this year's NSF GRFP fel...,2018-04-24 02:13:00,
297,Enjoying this glorious day along the Charles w...,2018-04-22 18:14:16,Northeastern
298,.@Dsikky11's #NUexperience took him from Matth...,2018-04-21 00:14:55,"NUexperience, SigningSikura, GoNU"
299,If we take the long view on how #AI makes it e...,2018-04-20 02:06:57,AI

In [18]:
auth = tweepy.OAuthHandler(keys.consumer_API_key, keys.consumer_API_secret_key)
auth.set_access_token(keys.access_token, keys.access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [14]:
keys.consumer_API_key

'447370329-pV2CwyKMgSexwzGUKalCGPNJ3EDOjhL9PwBni1qe'

In [20]:
cher = api.get_user('cher', tweet_mode='extended')

In [43]:
cher_data = pd.DataFrame(columns=['tweets', 'time', 'hashtags'])
cursor = tweepy.Cursor(api.user_timeline, screen_name='cher', tweet_mode='extended')

for tweet in cursor.items(300):
    text = tweet.full_text
    time = tweet.created_at
    hashtags = tweet.entities['hashtags']
    if hashtags:
        hashtags = hashtags[0]['text']
    cher_data = cher_data.append(pd.Series([text, time, hashtags], index=cher_data.columns), ignore_index=True)

In [46]:
cher_data.to_csv('cher_data.csv', index=False)